@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("https://team-ensemble.ch/assets/fonts/Geist/webfonts/Geist[wght].woff2")
    format("woff2-variations");
}

@font-feature-values "Geist" {
  @styleset {
    alt-l: 3;
  }
}

:root {
  /* 
  --color-bg: #ffffff;
  --color-bg-elevated: #ffffff;
  --color-bg-surface: #ffffff;
  --color-bg-hover: #000000; 
  */
  --color-text: #000000;
  --color-text-subtle: #818181; /* placeholder text */

  --color-bubblegum-pink-500: #ef476f;

  --color-primary: var(--color-bubblegum-pink-500);
  --color-error: #c80000d2;
  /* --color-text-muted: #000000;
  --color-accent: #000000;
  --color-accent-hover: #ffffff;
  --color-accent-muted: rgba(0, 0, 0, 0.15);
  --color-border: #000000;
  --color-success: #000000;
 */
  --font-sans: "Geist", system-ui, sans-serif;
  /* --font-mono: "IBM Plex Mono", monospace; */
  --space-sm: 0.5rem;
  --space-md: 1rem;
  /* 
  --space-xs: 0.25rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;
  --max-width: 1200px;
  --transition-fast: 0.15s ease;
  --transition-base: 0.25s ease; */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-sans);
  font-variant-alternates: styleset(alt-l);
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-text);
  /* background-color: var(--color-bg); */
  min-height: 100vh;
}

::selection {
  text-shadow: none;
  /* background: var(--color-accent-muted);
  color: var(--color-text); */
}

main {
  width: 92%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

p,
legend {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  text-wrap: balance;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

label {
  font-weight: 700;
}

form,
section,
fieldset,
header {
  margin-bottom: 1rem;
  border: none;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.75rem;
}

input,
textarea,
select,
button {
  outline: 0 !important;
  border-color: var(--color-primary);
  border: 0.15em solid var(--color-text);
  transition: all var(--transition-fast);
  padding: 0.5rem;
  border-radius: 0;
  border-radius: 0.5rem;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  border-color: var(--color-primary);
}

button {
  box-shadow: none;
  background: transparent;
  text-shadow: none;
  cursor: pointer;
  line-height: inherit;

  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-sm) var(--space-md);
  font-family: var(--font-sans);
  font-size: 0.875rem;
  font-weight: 500;
  /* border: 0.15em solid var(--color-text); */
  border-radius: 0;
}

button:hover:not(:disabled) {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input::placeholder {
  color: var(--color-text-subtle);
}

.survey-block--error, 
.survey-block__other-input--error {
  border-left-color: var(--color-error);
  border-left-width: 0.25em;
  border-left-style: solid;
  padding-left: 0.75em;
}
