body {
  margin: 0;
  padding: 1rem;
}

main {
  max-width: 48rem;
}

form,
section,
fieldset,
header,
div {
  margin-bottom: 1rem;
}

input,
textarea,
select,
button {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.75rem;
}
